div.nav {
	background-color: #34495e;
}
.nav header.header {
	position: relative;
	width: 100%;
	height: 90px;
	background-color: #2ecc71;
}
.header img {
	display: block;
    position: relative;
    height: 80%;
    margin: 0px auto;
    top: 7%;
}

.nav div.list {
	
}
.list ul.nav-list {
	list-style-type: none;
}
.nav-list li.nav-list-item {
	display: block;
	position: relative;
	width: 100%;
	height: 48px;
	margin-top: 20px;
}
.nav-list li.active {
	background-color: #243342;	
}
.nav-list li.nav-list-item:hover {
	background-color: #243342;
}
.nav-list-item a {
	display: block;
	position: relative;
	float: left;
	width: 70%;
	height: 100%;
	
	font-family: Proxima_Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 51px;
	color: #ffffff;
	text-decoration: none;
}
.nav-list-item img {
	display: block;
	position: relative;
	float: left;
	width: 15%;
    margin: 10px 13px 10px;
}

.nav div.nav-foot {
	position: absolute;
	bottom: 21px;
	width: 100%;
	
	text-align: center;
}
.nav-foot p {
	font-family: Proxima_Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
}
.nav-foot a {
	font-family: Proxima_Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	color: #2ecc71;
}