.holder div.category-title {
	position: relative;
	width: 100%;
	height: 90px;
	box-sizing: border-box;
	padding-top: 22px;
}
.category-title p.category-title-text {
	font-family: Proxima_Nova;
	font-style: normal;
	font-weight: lighter;
	font-size: 48px;
	line-height: 66px;
	/*letter-spacing: 25px;*/
	color: #34495e;
}

.category-title-text p.order-title {
	display: block;
	position: relative;
	float: left;
	margin-right: 20px;
	
	font-size: 48px;
	line-height: 66px;
	/*letter-spacing: 25px;*/
	color: #34495e;
}

.holder div.table-holder {
	position: relative;
	width: 100%;
	margin-bottom: 19px;
	border: 1px solid #dee1e2;
	border-radius: 5px;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.12);
	-moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.12);
	box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.12);
}
.table-holder table {
	width: 100%;
	border-collapse: collapse;
}
table tr:hover {
	cursor: pointer;
	background-color: #f6f8fc;
}
table tr:hover td:first-child {
	border-left: 4px inset #8e44ad;
	padding-left: 26px;
}
table th, table td {
	border-bottom: 1px solid #dee1e2;
}
table th {
	font-family: Proxima_Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 66px;
	/*letter-spacing: 25px;*/
	color: #95a5a6;
}
table th:first-child, table td:first-child {
	padding-left: 28px;
	
	text-align: left;
}
table td {
	height: 56px;
	
	text-align: center;
}

table td.cat-name img {
	display: block;
	position: relative;
	float: left;
	/*margin-left: 28px;*/
	margin-right: 8px;
}
table td.cat-name p {
	display: block;
	position: relative;
	float: left;
	
	font-family: Proxima_Nova;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	/*letter-spacing: 25px;*/
	color: #2c3e50;
}
table td.count p {
	font-family: Proxima_Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	/*letter-spacing: 25px;*/
	color: #636363;
}
table td.del a {
	font-family: Proxima_Nova;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	/*letter-spacing: 25px;*/
	color: #cb0000;
}
table td.view a {
	font-family: Proxima_Nova;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	/*letter-spacing: 25px;*/
	color: #8e44ad;
}

.holder div.add-cat {
	position: relative;
	float: right;
}
.add-cat form label p {
	display: block;
	position: relative;
	float: left;
	
	font-family: Proxima_Nova;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	/*letter-spacing: 25px;*/
	color: #2c3e50;
}
form label input {
	display: block;
	position: relative;
	float: left;
	box-sizing: border-box;
	width: 241px;
	height: 35px;
	border: 1px solid #dee1e2;
	padding: 15px 8px 11px;
	margin-bottom: 10px;
	
	font-family: Proxima_Nova;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	/*letter-spacing: 25px;*/
	color: #0d0b0b;
	
}
form a {
	display: block;
	float: right;
	
	font-family: Proxima_Nova;
	font-style: normal;
	font-weight: lighter;
	font-size: 14px;
	/*letter-spacing: 25px;*/
	color: #02873a;
}