header.header {
  width: 100%;
  height: 120px;
}

div.header-logo {
  position: relative;
  float: left;
  width: 170px;
  height: 100%;
  background-color: #ed1651;
  box-sizing: border-box;
  padding-left: 30px;
  padding-top: 29px;
}
p.logo-first-line {
  display: block;
  color: #ffffff;
  font-family: Supermolot;
  font-weight: normal;
  font-size: 33px;
  line-height: 25px;
}
p.logo-second-line {
  display: block;
  color: #ffffff;
  font-family: Supermolot;
  font-weight: bold;
  font-size: 41px;
  line-height: 36px;
}

div.header-menu {
  position: relative;
  float: left;
  width: calc(100% - 358px);
  /*height: 61px;*/
  background-color: #fff;
  /*border-bottom: 1px solid #f1f1f1;*/
}
ul.inline-list {
  list-style-type: none;
  /*height: 100%;*/
}
ul li.inline-list-item {
  display: block;
  float: left;
  box-sizing: border-box;

  /* padding: 10px; */
  height: 61px;/*100%;*/
  width: 130px;
  max-width: 25%;
}
li.inline-list-item a {
  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-top: 13px;
  padding: 10px;
  font-size: 14px;
  font-family: Supermolot;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
li.inline-list-item a:hover {
  background-color: #021563;
  color: #f8f8f8;
}


div.header-right {
  position: relative;
  float: left;
  width: 188px;
  height: 118px;
  background-color: #fff;
}
div.right-user {
  width: 100%;
  height: 61px;
}
div.user-icon {
  position: relative;
  float: left;
}
.user-icon img {
  margin-top: 24px;
}
.right-user ul li {
  display: inline-block;
  height: 100%;
  padding-top: 23px;
  margin-left: 7px;
  margin-right: 11px;
}
.right-user ul li:first-child a {
  color: #ed1651;
}
.right-user ul li a {
  font-size: 14px;
  font-weight: lighter;
  font-family: Supermolot;
  text-decoration: none;
  -webkit-text-emphasis-position: under;
  -moz-text-emphasis-position: under;
  -o-text-emphasis-position: under;
  -ms-text-emphasis-position: under;
  text-emphasis-position: under;
  -webkit-text-emphasis-style: dot;
  -moz-text-emphasis-style: dot;
  -o-text-emphasis-style: dot;
  -ms-text-emphasis-style: dot;
  text-emphasis-style: dot;
  color: #000000;
}


div.right-cart {
  width: 100%;
  height: 57px;
  background-color: #021563;
}
div.cart-price {
  position: relative;
  float: left;
  box-sizing: border-box;
  padding-left: 18px;
  padding-top: 16px;
  height: 100%;
  width: 131px;
  color: #ffffff;
}
.cart-price p.sum-price {
  position: relative;
  float: left;
  font-family: Supermolot;
  font-weight: bold;
  font-size: 20px;

}
.cart-price p.sum-curr {
  position: relative;
  float: left;
  font-family: Supermolot;
  font-weight: normal;
  font-size: 14px;
}
.cart-price p.count-products {
  clear: both;
  font-family: Supermolot;
  font-weight: normal;
  font-size: 12px;
  color: #999999;
}
div.cart-icon {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 57px;
  margin-top: 12px;
}
