

section.products {
  width: 1170px;
  overflow-x: hidden;
  margin-bottom: 20px;
  background-color: #f6f6f6;
}
header.products-header {
  width: 100%;
  height: 76px;
  box-sizing: border-box;
  background-color: #ffffff;
}
p.header-title {
  display: block;
  position: relative;
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  font-family: Supermolot;
  font-size: 24px;
  color: #021562;
}
div.right-arrow {
  position: relative;
  float: right;
  margin: 32px 30px 23px 12px;
}
div.left-arrow {
  position: relative;
  float: right;
  margin-top: 32px;
}



div.nav-pages {
  position: relative;
  float: right;
  right: 24px;
  height: 29px;
  margin: 24px 30px 0px 0px;
}
div.nav-pages p.nav-text {
  position: relative;
  float: left;
  margin-right: 10px;
  font-family: Supermolot;
  font-style: normal;
  font-weight: lighter;
  font-size: 14px;
  color: #333333;
}
div.nav-pages ul.nav-inline-list {
  position: relative;
  display: block;
  float: left;
  height: 100%;
  list-style-type: none;
}
ul.nav-inline-list li.nav-inline-list-item {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 30px;
  margin-right: 8px;
}
ul.nav-inline-list li.nav-inline-list-item a.page {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 6px;
  background-color: #e9e9e9;

  color: #000000;
  text-align: center;
  text-decoration: none;
}
ul.nav-inline-list li.nav-inline-list-item a.page:hover {
  background-color: #ed1651;
  color: #ffffff;
}
ul.nav-inline-list li.nav-inline-list-item a.active {
  cursor: default;
  background-color: #ed1651;
  color: #ffffff;
}






div.holder {
  width: 1170px;
  margin: 0px auto;
  margin-left: 0px;
  transition: 2s all;
}




div.category-logo {
  position: relative;
  float: left;
  margin: 2px 1.2px;
  width: 873.6px;
  height: 322px;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.12);
  -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.12);
  box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.12);
}
.category-logo img {
  max-width: 100%;
  max-height: 100%;
}
.category-logo p.category-logo-title {
  position: absolute;
  display: block;
  top: 82px;
  left: 44px;

  font-family: Supermolot;
  font-style: italic;
  font-weight: normal;
  font-size: 38px;
  line-height: 36px;
  color: #000000;
}
.category-logo p.category-logo-description {
  position: absolute;
  display: block;
  left: 44px;
  top: 150px;
  font-family: Supermolot;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}




div.product-preview {
  position: relative;
  float: left;
  margin: 2px 1.25px;
  width: 290px;
  height: 322px;
  overflow-y: hidden;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.12);
  -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.12);
  box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.12);
}
.product-preview a.feeling, .category-promo a.feeling {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: transparent;
}

.product-preview .corner {
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: 100;
}


.product-preview .product-img {
  width: 100%;
  height: 236px;
  background-color: #ffffff/*d1d3d4*/;
}
.product-preview .product-img img {
  display: block;
  height: 100%;
  margin: 0px auto;
}
.product-preview .product-description {
  width: 100%;
  height: 86px;
  background-color: #ffffff;
}
p.product-name {
  display: block;
  position: relative;
  float: left;
  max-width: 128px;
  margin-left: 30px;
  margin-top: 29px;
  font-family: Supermolot;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
}
div.price-holder {
	display:block;
	float: right;
	margin-right: 20px;
  margin-top: 29px;

	font-family: Supermolot;
	font-weight: lighter;
	font-style: italic;

}
div.product-price {
  display: block;
  position: relative;
  font-size: 18px;
  color: #ed1651;
}
div.product-old-price {
  display: block;
  position: relative;
  font-size: 14px;
  color: #999999;
}

p.product-price, p.curr, p.product-old-price {
  display: block;
  position: relative;
  float: right;
}
p.product-old-price, .product-old-price > p.curr {
	text-decoration: line-through;
}



div.category-promo {
  position: relative;
  float: right;
  margin: 2px 1.2px;
  width: 582.4px;
  height: 648px;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.12);
  -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.12);
  box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.12);
}
.category-promo img {
  position: absolute;
  top: 0px;
  width: 100%;
}
.category-promo div.promo {
  position: relative;
  margin-top: 52px;
  margin-left: 48px;
  margin-right: 222px;
  z-index: 1000;

  font-family: Supermolot;
}
.promo p.promo-first-line, .promo p.promo-second-line {
  position: relative;
  display: block;

  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  line-height: 36px;
  color: #000000;
}
.promo p.promo-third-line {
  position: relative;
  display: block;
  margin-top: 24px;
  margin-bottom: 86px;

  font-size: 14px;
  font-weight: lighter;
  font-style: normal;
  line-height: 24px;
  color: #555555;
}
.promo p.promo-price {
  position: relative;
  display: block;
  margin-bottom: 13px;

  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  color: #ed1651;
}
.promo div.promo-look button {

  height: 50px;
  width: 173px;
  border: 3px solid #ed1651;
  background-color: transparent;

  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  color: #000000;
}
