.wrapper div.checkout-holder {
  position: relative;
  width: 1170px;
  margin: 0px auto;
  margin-bottom: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.12);
  -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.12);
  box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.12);
}

.checkout-holder header.checkout-header {
  position: relative;
  width: 100%;
  height: 79px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 30px;
  background-color: #222429;
  color: #ffffff;
}

.checkout-holder section.checkout-body {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-top: 31px;
  padding-left: 30px;
  padding-right: 279px;
  border-bottom: 2px solid #f6f6f6;
}
.checkout-body div.new-user {
  position: relative;
  float: left;
  width: 391px;
  margin-bottom: 55px;
}
.new-user button {
  display: block;
  position: relative;
  width: 155px;
  height: 49px;
  border: none;
  background-color: #ed1651;

  font-family: Supermolot;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  color: #ffffff;
}

.checkout-body div.quick-enter {
  position: relative;
  float: left;
  width: 391px;
  margin-left: 79px;
  margin-bottom: 109px;
}
.quick-enter  button {
  display: block;
  position: relative;
  float: left;
  width: 102px;
  height: 49px;
  border: none;
  background-color: #ed1651;

  font-family: Supermolot;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  color: #ffffff;
}
.quick-enter a {
  display: block;
  position: relative;
  float: left;
  margin-left: 21px;
  margin-top: 16px;

  font-family: Supermolot;
  font-style: normal;
  font-weight: lighter;
  font-size: 14px;
  color: #343434;
}

.checkout-body div.destination-addr {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 390px;
  margin-bottom: 55px;
  
}
.destination-addr div.house-apart {
	position: relative;
	width: 100%;
}
.house-apart div.house {
	position: relative;
	float: left;
	width: 177px;
}
.house-apart div.apart {
	position: relative;
	float: left;
	width: 177px;
	margin-left: 36px;
}
.destination-addr button {
  display: block;
  position: relative;
  float: left;
  width: 154px;
  height: 49px;
  border: none;
  background-color: #ed1651;

  font-family: Supermolot;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  color: #ffffff;
}

.checkout-body div.delivery-type {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 243px;
  margin-bottom: 55px;
  margin-left: 55px;
}

.checkout-body div.comment {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 372px;
  margin-bottom: 55px;
  margin-left: 55px;
  margin-right: 25px;
}

p.title-form {
  display: block;
  position: relative;
  margin-bottom: 18px;

  font-family: Supermolot;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ed1651;
}
p.pre-input {
  display: block;
  position: relative;

  font-family: Supermolot;
  font-style: normal;
  font-weight: lighter;
  font-size: 14px;
  line-height: 18px;
  color: #999999;
}
input {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 47px;
  margin-bottom: 19px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  background-color: #e9e9e9;

  font-family: Supermolot;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: #000000;
}

.radio {
    display: none;
}
.radio-custom {
    width: 15px;
    height: 15px;
    background-color: #cbcbcb;
    position: relative;
	border-radius: 100%;
}
.radio-custom,
.label {
    display: inline-block;
	margin-bottom: 22px;
    vertical-align: middle;
}
.label {
	width: 200px;
	margin-left: 13px;
}
.radio:checked + .radio-custom {
	box-sizing: border-box;
    border: 4px solid #17c7be;
    border-radius: 100%;
}
.radio-custom:hover {
    border: none;
	border-radius: 100%;
	background-color: #17c7be;
}








input[type='radio'].options {
	background-color: transparent;
	color: red;
}

.checkout-holder div.one, .checkout-holder div.two, .checkout-holder div.three {
  position: relative;
  width: 100%;
  height: 76px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 30px;
  border-bottom: 2px solid #f6f6f6;
}

.checkout-holder div.one p, .checkout-holder div.two p, .checkout-holder div.three p, .checkout-holder header.checkout-header p {
  display: block;
  position: relative;
  float: left;

  font-family: Supermolot;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #ed1651;
}
.checkout-holder header.checkout-header p.inf {
  display: block;
  position: relative;
  float: left;

  font-family: Supermolot;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}
.checkout-holder div.one p.inf, .checkout-holder div.two p.inf, .checkout-holder div.three p.inf {
  display: block;
  position: relative;
  float: left;

  font-family: Supermolot;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}
